.navbar {
    padding: 0;
}

.nav-home,
.nav-preferences,
.nav-saved,
.nav-account {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    text-align: center;
}

/* view lists */
#viewlists {
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.washroom {
    border-style: solid;
}

.options {
    border-style: groove;
}

.bg-info {
    background-color: lightblue !important;
    /* Medium shade for navbar */
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
    color: black;
    /* Light shade for brand name & nav links for contrast */
}

.btn-info {
    color: #D9DBF1;
    /* Light shade for text on info button */
    background-color: #f6f6f6;
    /* Accent color for button background */
    border-color: #DBF4A7;
    /* Dark shade for button border */
}

.btn-primary {
    color: skyblue;
    /* Light shade for text */
    font-size: 150%;
    background-color: #ffffff;
    /* Dark shade for primary button background */
    border-color: #000000;
    /* Darkest shade for border */
    border-width: 1;
}

body {
    background-color: #ffffff;
}



/* saved page */
#edit {
    float: right;
}

.saved-icons {
    font-size: 25px;
    color: black;
}

.square-container {
    width: 50px;
    /* Adjust the width of the square */
    height: 50px;
    /* Adjust the height of the square */
    display: inline-block;
    background-color: #ccc;
    text-align: center;
    line-height: 50px;
    /* Align the icon vertically in the middle */
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: 10px;
}

#newlist,
#favorites,
#mymaps {
    display: flex;
    align-items: center;
}

.saved-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

#preference-checkboxes .btn-outline-primary {
    color: black;
    border-color: lightblue;
}

#preference-checkboxes .btn-check:checked+.btn-outline-primary {
    background-color: lightblue;
    color: black;
}

#save {
    background-color: lightblue;
}

#review-rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}

#review-rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

#review-rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: black;
}

#review-rate:not(:checked)>label:before {
    content: '★ ';
}

#review-rate>input:checked~label {
    color: #ffc700;

}

#review-rate:not(:checked)>label:hover,
#review-rate:not(:checked)>label:hover~label {
    color: #deb217;

}

#review-rate>input:checked+label:hover,
#review-rate>input:checked+label:hover~label,
#review-rate>input:checked~label:hover,
#review-rate>input:checked~label:hover~label,
#review-rate>label:hover~input:checked~label {
    color: #c59b08;
}

.star-gold {
    color: #ffc700;
}

.star-black {
    color: black;
}