html,body {
    background-color: whitesmoke;
    padding: 0;
    margin: 0;
}

#text-field {
    width: 100%;
    height: 100%;
}

#text-field-two {
    width: 100%;
    height: 100%;
}

.container {
    grid-row: 2/ span 1;
    grid-column: 2/ span 1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
}

#submit {
    color: black;
    background-color: lightblue;
    border-color: lightblue;
}

.star-alignment {
    text-align: center;
}

.star-form {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
}

#grid-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-gap: 0.5em;
}

.grid-banner {
    background-color: whitesmoke;
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: minmax(0, 100%);
    grid-template-rows: minmax(0, 25%) minmax(0, 75%);
    grid-gap: 10px;
    padding: 0px;
    margin: 0px;
}

.mainpic {
    grid-column: 1;
    grid-row: 1/ span 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slogan-space {
    grid-column: 1;
    grid-row: 2/ span 1;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.form-grid-inner {
    grid-column: 1;
    grid-row: 1;
}

.form-grid {
    grid-column: 1;
    grid-row: 1/ 4;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.form-alignment {
    grid-row: 2/ span 1;
    grid-column: 1;
    justify-content: center;
    align-items: center;
    display: grid;
}

.mainslogan {
    grid-column: 2/ span 1;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pill {
    width: 368px;
    height: 52px;
    background: lightblue;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: 'sora';
    src: url(/Users/danielseo2/Downloads/Assignment4/public/fonts/Sora/Sora-VariableFont_wght.ttf);
    font-style: normal;
}

span {
    font-size: 20px;
    font-family: sora;
    font-weight: bold;
}

h1 {
    font-size: 20px;
    font-family: sora;
    font-weight: bold;
}

footer {
    grid-column: 1 / span 1;
    grid-row: 5 / span 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.bot-container-fluid {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: lightblue;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    text-align: center;
}


.nav-home,
.nav-preferences,
.nav-saved,
.nav-account {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
}

.material-symbols-outlined,
.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    font-size: 9pt;
}

.radio-button-grid {
    display: grid;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-columns: 40% 60%;
}

.radio-button-center {
    grid-row: 1;
    grid-column: 2/ span 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label-alignment {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label-alignment-two {
    grid-row: 2/ span 1;
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio-button-center-two {
    grid-row: 2/ span 1;
    grid-column: 2/ span 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label-alignment-three {
    grid-row: 3/ span 1;
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio-button-center-three {
    grid-row: 3/ span 1;
    grid-column: 2/ span 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label-alignment-four {
    grid-row: 4/ span 1;
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


.radio-button-center-four {
    grid-row: 4/ span 1;
    grid-column: 2/ span 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#preference-checkboxes .btn-outline-primary {
    color: black;
    border-color: lightblue;
}

#preference-checkboxes .btn-check:checked + .btn-outline-primary {
    background-color: lightblue;
    color: black;
}

.bar {
    margin: 10px;
}

.uploadPercentage {
    text-align: center;
}

.progress {
    background: linear-gradient(12deg, rgb(230, 229, 229), lightblue)
}

#file {
    text-align: center;
}

#submitImg{
    text-align: center;
}