#login-btn {
    background-color: rgb(47, 131, 214);
}

#logo-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    /* font-style: italic; */
    font-size: 1rem;
}

.container img {
    width: 10%;
}

#map-pic {
    width: 50%;
}

#img-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

html,
body {
    background: rgb(2, 0, 36);
    background: linear-gradient(101deg, rgba(2, 0, 36, 0.36458333333333337) 0%, rgba(173, 216, 230, 0.8071603641456583) 46%, rgba(0, 185, 255, 1) 100%);
    ;
    height: 100%;
    overflow: hidden;
}

body .big-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 4rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    padding-top: 2rem;
}

#index-login {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}

body #new-div,
#logo-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

#new-div img {
    width: 10%;
}

#new-div div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#new-div {
    padding-top: 1rem;
}

#logo-text {
    font-family: 'Roboto', sans-serif;
    ;
    font-weight: 800;
    /* font-style: italic; */
    font-size: 1rem;
}

.back-button {
    width: 8%;
    padding-left: 1rem;
}

#toilet {
    display: flex;
    align-items: center;
    justify-content: center;
}